.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    
}
body{
    background-color:#4299CA;
    font-family: "Josefin Sans";
}
.title{
    background-color: #FFFFFF;
    margin: 2vw;
    text-align: center;
}
.week-1{
    background-color: #BEE8FF;
    border: 4vw solid white;
    margin: 2vw;
    padding: 0 2vw 3vw 2vw;
    
}
h2{
    margin-top: 3vw;
    font-size: large;
}
li{
    margin-left: -6vw;
}


